<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/style_search.css">
</head>
<body>

<div><a href="/events" class="back_button">Back to all events</a></div>

<form id="search_area" action="/search" method="get">
    <input type="text"  id="input" name="input" value=<%=qu%>>
    <button type="submit">Search</button>
</form>

<%if (found.length > 0) { %>
<%let pageSize = 2;%>
<ul>
    <%for(let i in found) { %>
    <li> <div class="event_block">
            <img alt="event image" src="<%=found[i].picturePath%>">
            <div class="event_details">
                <%let path = '/event/'+ found[i].id%>
                <div class="name"> <a href=<%=path%>> <%=found[i].name%> </a></div>
                <div class="place">
                    <div> Place: </div>
                    <div> <%=found[i].place%></div>
                </div>
                <div class="date">
                    <div> Date:</div>
                    <div> <%=found[i].date%></div>
                </div>
            </div>
        </div> </li>
    <%}%>
</ul>
<%if(pageNum == 1) {%>
    Already the first page
<%} else {%>
    <a href=<%=url + '&page=' + (pageNum - 1) %>> Previous </a>
<%}%>
||
Currently viewing page number <%=pageNum%> out of <%=lastPage%>
||
<% if(pageNum == lastPage) {%>
    Already the last page
<%} else {%>
    <a href=<%=url + '&page=' + (pageNum - -1)%>> Next</a>
<%}%>
<%} else { %>
Sorry, nothing matches your search.
<%}%>
</body>
</html>