<% include partials/header %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=event.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style_event_page.css">
    <script src="/javascripts/confirm.js"></script>
    <!--<script>-->
        <!--function onDelete() {-->
            <!--alert('i work');-->
            <!--$('#myModal').modal();-->
        <!--}-->
    <!--</script>-->
</head>
<body>
    <div class="event_page">
        <div class="event_info container-fluid">
            <div class="col-md-6">
                <img alt="event image" src="<%=event.picture%>">
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%let event_path = 'event/'+ event.id%>
                        <div class="name"> <%=event.name%> </div>
                    </div>
                    <div class="panel-body">
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                        <div class="col-md-3">Place </div>
                        <div class="col-md-8 container">
                            <span class="rwd-line"> <div> <%=event.place%></div> </a> </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-md-3">Date</div>
                        <div class="col-md-9 container">
                            <span class="rwd-line"> <div> <%=event.date%></div> </a> </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-md-3">Duration</div>
                        <div class="col-md-9 container">
                            <span class="rwd-line"> <div> <%=event.duration%></div> </a> </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                    </div>
                </div>
            <div>

                <div class="col-md-6" >
                    <form action="/events" method="get">
                        <button class="btn btn-block btn-default" type="submit"> Back to main page</button>
                    </form>
                </div>
                <div class="col-md-6" >
                    <form>
                        <button type="button" class="btn btn-block btn-danger"  data-toggle="modal" data-target="#myModal">
                        Delete event
                        </button>
                    </form>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Confirm delete</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure? This action is irreversible.</p>
                                </div>
                                <div class="modal-footer container-fluid">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default form-control" data-dismiss="modal"> Close </button>
                                        </div>
                                        <div class="col-md-6">
                                            <form action="/event/delete/<%=event.id%>" method="post">
                                                <button type="submit" class="btn btn-danger form-control">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </div>
             </div>
            </div>
        </div>

    </div>
</body>
</html>