<% include partials/header %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See all events</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
        <div class="col-md-4">
            <div class="menu">
                <a href="/" class="link_button">Back to the main page</a>
                <a href="/add" class="link_button">Add new event to the list</a>
                <a href="/search" class="link_button">Search</a>
                <%if (user.role === 'admin') {%>
                    <a href="/everyone" class="link_button">See all registered users</a>
                <%}%>
                <div class="info">Here you can see all of your plans</div>
            </div>
        </div>
        <div class="col-md-8">
            <ul>
                <%for(let i in event_list) { %>
                <li>
                    <div class="event_block">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <%let event_path = 'event/'+ event_list[i].id%>
                                    <div class="name"> <a href="<%=event_path%>"> <%=event_list[i].name%> </a></div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-5">
                                        <img alt="event image" src="<%=event_list[i].picture%>">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3">Place</div>
                                        <div class="col-md-9 container">
                                            <span class="rwd-line"> <div> <%=event_list[i].place%></div> </a> </span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        <div class="col-md-3">Date</div>
                                        <div class="col-md-9 container">
                                            <span class="rwd-line"> <div> <%=event_list[i].date%></div> </a> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div> </li>
                <%}%>
            </ul>
        </div>
</body>
</html>